<!DOCTYPE html>
<html>
<head>
  <title>Outsidein</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
  <% if logged_in? %>
    Logged in as <%= current_user.username %>
  <% else %>
    Please sign in
  <% end%>
  </header>

  <% if flash[:message] %>
    <div id="message"><%= flash[:message] %></div>
  <% end %>

  <%= yield %>

</body>
</html>
